<!DOCTYPE html>
<html >
<head>
<title>main</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="home.css">
<link rel="stylesheet" href="main.css">
<link rel="stylesheet" href="register.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

</style>
</head>
<body>
<div class="w3-container" style="padding:100px; padding-top: 50px; background-color: skyblue">
    
    
      <div style="background-color: khaki;">
     <div class="w3-hide-small menu " height=200px width=100%>
               <img src="logo.png"  width=100% height=200px>
    </div>
    
<div class="topnav">
  <a href="main.html">Home</a>
  <a class="active" href="foodinfo.html">Food Info</a>
    <a  href="foodmenu.html">Food Menu</a>
  <a href="contact.html">Contact</a>
    <a href="register.html">Register</a>
  <div class="login-container">
    <form action="/action_page.php">
        <input type="text" placeholder="Username"  name="username">
        <input type="password" placeholder="Password" name="psw">
     <button type="submit">Login</button>
      
      </form>
</div>
  </div>
           <div class="modal-content container" style="background-color: khaki;margin: 0px;width: 1150px;display:inline-flex;border-radius: 0px;">
          <div class="modal-content container" style="background-color: khaki;display:grid;width: 200px;padding-left: 40px;padding-right: 0px; margin-top: 0px;margin-bottom: 0px;">
         
  <a  href="#rice">Rice</a>
    <a  href="#pulses">Pulses</a>
  <a href="#leafyvegetables">LeafyVegetables</a>
             
            </div>
          <div class="modal-content container" style="background-color:khaki;width: 1200px;margin-top: 0px;margin-bottom: 0px;text-align: justify;padding: 0px;padding-right: 0px;padding-left: 0px">
         <!--Food info-->
              <!--rice-->
               <div id="rice" class="modal-content container" style="display:block; padding: 20px; background-color: burlywood;width: 800px">
         <h3 style="font-size: 30px">Rice</h3>
         <hr>
         
         <div class="w3-row" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="rice.jfif" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Fiber, Vitamin B1, Vitamin B6, Magnesium, Phosphorous, Selinium, Manganese.</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
      <!--<h1 class="w3-center">Rice</h1><br>-->
      <p class="w3-meduim" >Rice is a main staple in more than 100 countries worldwide. In some households, rice is included with more than one meal a day. This starchy high-calorie grain is generally low cost, making it accessible to all and a vital base of many diets. Each country showcases a rice specialty to reflect local spices and taste preferences: risotto in Italy, paella in Spain, jambalaya in the southern U.S., coconut rice in Colombia, steamed rice in China, rice and beans in Mexico, and sweet rice in Portugal, to name a few.</p><p class="w3-medium">The scientific name for rice is Oryza. Oryza sativa is the most common species and is subdivided into the long-grain indica, and short-grain japonica. Tools for farming rice have been found in China dating back 8000 years. Merchant traders helped the gradual spread of rice across the continents.</p>
    
        
        
        
       
    </div>
  </div>
                   
    </div>  
              <!--pulses-->
              <div id="pulses" class="modal-content container" style="display:block; padding: 60px; background-color: burlywood;width: 800px">
         <h3 style="font-size: 30px;">Pulses</h3>
                  <hr>
                  <br>
         <!--green gram-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Green Gram</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="greengram.jpeg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: vitamin B9, Minerals, Protein, Fiber,Vitamin C, Vitamin K, Copper, Manganese, Magnesium, Iron.</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
      <!--<h1 class="w3-center">Rice</h1><br>-->
      <p class="w3-meduim" >Mung bean or green gram, Vigna ratiate L. Wilczek is the third important pulse crop of the company covering an area of 3.42 million hectares with production of 1.70 metric tonnes. Being rich in quality protein, minerals and vitamins, they are inseparable ingredients in the diets of a vast majority of Indian population. When supplemented with cereals, they provide a perfect mix of essential amino acid with high biological value. It is grown mainly kharif crop in Rajasthan, Maharashtra, Karnataka, Andhra Pradesh, Orissa, Tamil Nadu, whereas in rabi/spring it is grown in Tamil Nadu, Bihar, Orissa, Andhra Pradesh, Uttar Pradesh, West Bengal, Maharashtra and Karnataka. In summer season it is grown in Uttar Pradesh, Madhya Pradesh, Bihar, Jharkhand and Orissa states.</p>
    
        
        
        
       
    </div>
  </div></div>
                  <br>
                     <!--red gram-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Red Gram</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="redgram.jpg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Carbohydrate, Protein, Fiber, Calcium, Iron, Pottassium, Sodium.</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
      <!--<h1 class="w3-center">Rice</h1><br>-->
      <p class="w3-meduim" >Red gram is commonly known as Tur or Arhar (Pigeon pea) in India and is the second important pulse in the country after gram (chana). The ability of red gram to produce high economic yields under soil moisture deficit makes it an important crop in rainfed and dryland agriculture.
</p><p class="w3-medium">Red gram is a native of India as evident from the presence of several wild relatives and diverse gene pool along with ample evidence in historic literature. India contributes for nearly 90% of world’s total red gram production. However, it is gaining importance in African countries due to its adaptability to limited moisture conditions.</p>
    
        
        
        
       
    </div>
  </div></div>
                  <br>
                     <!--bengal gram-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Bengal Gram</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="bengal%20gram.jpg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Iron, Sodium, Selenium, Copper, Zinc, Manganese, Folic acid, Fiber .</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
      <!--<h1 class="w3-center">Rice</h1><br>-->
      <p class="w3-meduim" >Bengal gram, also known as 'black chana' or garbanzo beans is a highly beneficial pulse belonging to the chickpea family. You may know it as chana dal, a staple ingredient in the Indian cuisine. The dark brown legumes are a pocket-friendly storehouse of energy, due to the huge list of nutritional benefits it encompasses. Scientifically termed as Cicer arietinum L., Bengal gram is highly nutritious, has a rich flavour and aroma, is amazingly delicious and gets easily digested.</p><p class="w3-medium">One of the earliest legumes to be cultivated, Bengal gram seeds are small in size and has a dark brown-coloured coat. The lentils are yellow in colour and are flat on one side and rounded on the other. Mostly cultivated in India, the legume is also found in India, Bangladesh, Pakistan, Iran and Mexico.</p>
    
        
        
        
       
    </div>
  </div></div>
              <br>
                <!--tur dal-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Tur dal</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="turdal.jpg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Protein, Potassium, Iron, Folic Acid, Magnesium Vitamin B1.</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
     
      <p class="w3-meduim" >Tur dal is a brilliant source of carbohydrates. This dal not only increases the taste of your meals but also provided all kinds of nutrients. Toor dal is the staple food of India and is consumed on a daily basis in almost all Indian households along with rice and roti. The dal is not only tasty but it also has numerous health benefits.
Toor Dal contains a very good amount of fiber in them which help in preventing problem like constipation. Risk of chronic diseases is also reduced with the intake of toor dals.
For a balanced diet Toor Dal provide requisite proteins.
Toor Dal are very good in curing cough, gastric troubles,stomach pain and poisoning effects.</p>
    
        
        
        
       
    </div>
  </div></div>
              
                       
    </div> 
              <!--Leafy vegetables-->
               
              <div id="leafyvegetables" class="modal-content container" style="display:block; padding: 60px; background-color: burlywood;width: 800px">
         <h3 style="font-size: 30px;">Leafy vegetables</h3>
                  <hr>
                  <br>
         <!--Amaranth-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Amaranth</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="amaranth.jpg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Iron,Vitamin C,Vitamin A,Vitamin K,Vitamin B1,Vitamin B6, Calcium, Manganese,.
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
     
      <p class="w3-meduim" >Mung bean or green gram, Vigna ratiate L. Wilczek is the third important pulse crop of the company covering an area of 3.42 million hectares with production of 1.70 metric tonnes. Being rich in quality protein, minerals and vitamins, they are inseparable ingredients in the diets of a vast majority of Indian population. When supplemented with cereals, they provide a perfect mix of essential amino acid with high biological value. It is grown mainly kharif crop in Rajasthan, Maharashtra, Karnataka, Andhra Pradesh, Orissa, Tamil Nadu, whereas in rabi/spring it is grown in Tamil Nadu, Bihar, Orissa, Andhra Pradesh, Uttar Pradesh, West Bengal, Maharashtra and Karnataka. In summer season it is grown in Uttar Pradesh, Madhya Pradesh, Bihar, Jharkhand and Orissa states.</p>
    
        
        
        
       
    </div>
  </div></div>
                  <br>
                     <!--spinach-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Spinach</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="spinach.jpg" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Iron, Calcium, Magnesium, Potassium,Vitamin C, Vitamin K,vitamins A, Manganese</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
     
      <p class="w3-meduim" >Spinach (Spinacia oleracea) is a leafy green vegetable that originated in Persia.It belongs to the amaranth family and is related to beets and quinoa. What’s more, it’s considered very healthy, as it’s loaded with nutrients and antioxidants. Eating spinach may benefit eye health, reduce oxidative stress, help prevent cancer, and reduce blood pressure levels.There are many ways to prepare spinach. You can buy it canned or fresh and eat it cooked or raw. It’s delicious either on its own or in other dishes.
</p>
    
        
        
        
       
    </div>
  </div></div>
                  <br>
                     <!--Drumstick leaf-->
                  <div style="border: 1px solid white;border-radius: 20px;padding: 10px">
                      <h3 style="font-size: 25px">Drumstick leaf</h3>
         <hr>
         
         <div class="w3-row">
    <div class="w3-col m6 w3-padding-large w3-hide-small" >
     <img src="MORINGA.png" class="w3-images w3-round" width=300px alt="Table Setting" >
        <br><br>
         <br><br>
        <p>Rich in: Vitamin A, Vitamin B6, Vitamin C, Potassium, Calcium, Phosphorus, Magnesium, Folate.</p>
    </div>

    <div class="w3-col m6 w3-padding-large" style="text-align: justify;">
     
      <p class="w3-meduim" >Drumsticks are very nutritious and a delicious ingredient. Apart from the fruit, the leaves of drumsticks are also very nutritious and carry a plethora of health benefits too.It is also called as Moringa leaves and has immense medicinal value as it is a rich source of Vitamin a, Vitamin B6, Vitamin C, potassium, calcium, phosphorus, magnesium, folate, etc. The leaves also act as roughage and promote proper bowel movement. Here are 10 more health benefits that will take you by surprise.</p>
        
        
        
       
    </div>
  </div></div>
              
               
              
                       
    </div> 
              
            </div>
          
          </div> 
          
           <div class="w3-black w3-center w3-padding-24">Powered by Team AKASH</div>
    </div>
    
    
    
    </div>
    </body>
</html>